<div class="default_page">
    <div class="container">
        <h1>Добавить категорию</h1>

        <form method="post" style="display: flex;flex-direction: column;gap: 10px;width: 60%">

            <label for="ru">
                Название категории на русском:
                <input class="form-control" type="text" name="category_ru" id="ru">
            </label>

            <label for="en">
                Название категории на английском:
                <input class="form-control" type="text" name="category_en" id="en">
            </label>

            <button type="submit" class="btn btn-success" name="add_category">Добавить категорию</button>
        </form>

    </div>
</div>