<footer style="width: 100%;min-height: 90px; background: black;">

    <div class="container">

        <div class="footer_wrap">

            <div class="icons_wrap">
                <a href="https://t.me/notbestnews2"> <i class="fa-brands fa-telegram"></i></a>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>

            <div class="safety_rules" style="color: white;">
                © 2023 | warszawINFO.pl. | Все права защищены.
            </div>


            <div class="footer_title" >
                warszaw<span>INFO.pl</span>
            </div>
        </div>


    </div>



</footer>
<script src="https://kit.fontawesome.com/411220e692.js" crossorigin="anonymous"></script>
<script type="module" src="/views/client/js/index.js"></script>
</body>
</html>